body {
    background-color: #343a34;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.trackItem{
    color: #ff8b07;
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
}

.playlistContainer {
    margin-bottom: 100px;
}

.musicPlayer {
    display: flex;
    flex-direction: row;
}

.currentAndTotalTime {
    color: #ffff;
}

#ProgressBar {
    width: 400px;
    height: 5px;
    background-color: #6c757d;
}

#CurrentProgress {
    width: 0%;
    height: 100%;
    background-color: #ff8b07;
}

.controls {
    font-size: 30px;
    color: #ffff;
    margin:20px 40px;
    cursor: pointer;
}

.pauseButton {
    display: none;
}