body {
    background-color: rgb(10,10,10);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

:root {
    --blue: rgb(61,90,254);
    --lightblue: rgb(33, 150, 243);
}

.link {
    border-top: 1px solid white;
    color: white;
    display: block;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size:clamp(2em, 8vw, 7em);
    padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 1em);
    position: relative;
}

.link:hover::before {
    width: 100%;
    transition: width 600ms ease;
}

.link:before {
    background: linear-gradient(
        to right,
        transparent,
        var(--blue) var(--light-blue-percent),
        var(--lightblue)
    );
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    position: absolute;
}

.link:nth-child(3) {
    border-bottom: 1px solid white;
}



